.header__link {
    color: #FFFFFF;
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
}

.header__link:nth-child(n+2) {
    margin-left: 36px;
}

.header__link:hover {
    opacity: 0.8;
    color: rgb(55, 57, 68);
}