/*.profile__avatar {
    height: 128px;
    width: 128px;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;   
}*/

.profile__avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #f0f0f0; 
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #999;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    background-image: url('.../././../../../../images/avatar.jpg');
  }
  
  .profile__avatar_loading {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #f0f0f0; 
    display: flex;
    justify-content: center;
    align-items: center;
    color: #999;
  }
  
  .profile__avatar_text {
    color: #777;
    font-size: 12px;
    text-align: center;
  }