.profile__text_name {
    margin: 0;
    justify-self: center;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 28px;
    color: #FFFFFF;
    height: 30px;
    padding-left: 10px;
}