.users-container {
  padding: 20px;
  font-family: Arial, sans-serif;
  width: 960px;
  margin: 0 auto;
}

.users-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.users-search {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background: #444;
  color: #e0e0e0;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  border-radius: 5px;
}

.users-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.user-card {
  display: flex;
  align-items: center;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 100%;
  background: #444;
  color: #e0e0e0;
  border: 1px solid #555;
  border-radius: 4px;
}

.user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.user-name {
  font-size: 18px;
  font-weight: bold;
  color: #e0e0e0;
  ;
}