.navbar__icon_settings {
    background-color: rgba(43, 46, 54, 1);
    border-radius: 12px;
    background-image: url('../../../../images/icons8-settings-40.svg');
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.navbar__icon_setting:hover {
    opacity: 0.8;
}