.posts__item {
    width: 100%;
    max-width: 930px;
    padding: 15px;
    background: #2a2a2a;
    border-radius: 8px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    flex-direction: column;
}

.posts__item img {
    max-width: 70%;
    max-height: 700px;
    border-radius: 8px;
    margin: 10px auto;
    align-self: center;
}

.post-date {
    font-size: 12px;
    color: #888;
    margin-top: 5px;
    display: block;
}